/* Portrait and Landscape for Iphone 5 */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    #homeBrand {
        position: relative;
        right: 1%;
        padding-top:  3.4%;
        padding-right: 3%;
    }
}

/* Portrait and Landscape for Iphone 6 */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    #bread-nav {
        position: relative;
        left: 40%;
    }

    #homeBrand {
        position: relative;
        right: 2%;
        padding-top:  3%;
        padding-right: 3%;
    }
}

/* Portrait and Landscape for Iphone 6+*/
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    #bread-nav {
        position: relative;
        left: 37%;
    }

    #homeBrand {
        position: relative;
        right: 5%;
        padding-top:  3%;
        padding-right: 3%;
    }
}

/* Portrait and Landscape for Galaxy s5*/
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
    #bread-nav {
        position: relative;
        left: 40%;
    }

    #homeBrand {
        position: relative;
        right: 3%;
        padding-top:  3%;
        padding-right: 3%;
    }
}

/* Portrait and Landscape for Ipad*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    /*#homeBrand {*/
        /*position: relative;*/
        /*padding-left: 27%;*/
    /*}*/

    /*.brand-logo {*/
        /*left: 20%;*/
    /*}*/
}

@media screen and (max-device-width: 767px){
    #sales-nav {
        position: relative;
        left: 10%;
    }

    #history-nav {
        position: relative;
        left: 18%;
    }

    #btnWithdraw {
        width: 50%;
        font-size: 1.2em;
        border-radius: 10px;
    }
}
